<%= form_for(@skat_game_score) do |f| %>
  <% if @skat_game_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skat_game_score.errors.count, "error") %> prohibited this skat_game_score from being saved:</h2>

      <ul>
      <% @skat_game_score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.number_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
