<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @skat_game_score.user_id %>
</p>

<p>
  <b>Score:</b>
  <%= @skat_game_score.score %>
</p>


<%= link_to 'Edit', edit_skat_game_score_path(@skat_game_score) %> |
<%= link_to 'Back', skat_game_scores_path %>
